<address>
  <strong>E-mail</strong><br>
  <%= mail_to "rx@swttherapy.com", nil, :encode => "hex" %>
</address>

<br>

<address>
  <strong>Twitter</strong><br>
  <a href="https://twitter.com/SwtTherapy" class="twitter-follow-button" data-show-count="false">Follow @SwtTherapy</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</address>

<br>

<address>
  <strong>Facebook</strong><br>
  <div class="fb-like" data-href="https://www.facebook.com/swtTherapy" data-send="false" data-width="450" data-show-faces="false"></div>
</address>
