<div style="float:left; text-align:center;">
	<h1>Cure sometimes.</h1>
	<%= image_tag "c1.jpg", :size => "250x250" %>
</div>

<div style="float:left; margin-left: 95px; text-align:center;">
	<h1>Treat often.</h1>
	<%= image_tag "c2.jpg", :size => "250x250" %>
</div>

<div style="float:right; text-align:center;">
	<h1>Comfort always.</h1>
	<%= image_tag "c3.jpg", :size => "250x250" %>
</div>
