<div class="row">
  <div class="span3">
    <h2>Cure sometimes.</h2>
	<h2>Treat often.</h2>
	<h2>Comfort always.</h2>
  </div>

  <div class="span3">
    <div id="myCarousel" class="carousel">
      <div class="carousel-inner">
        <div class="active item">
          <%= image_tag "c1.jpg", :size => "250x250" %>
        </div>
        <div class="item">
          <%= image_tag "c2.jpg", :size => "250x250" %>
      </div>
	  <div class="item">
          <%= image_tag "c3.jpg", :size => "250x250" %>
      </div>
    </div>
  </div>
</div>